    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* background: #e8eef3; */
    background: linear-gradient(135deg, #e8eef3, #e8eef3);
    color: black;
    font-family: sans-serif;
    overflow: hidden;
        /* opacity: 0;
    animation: fadeIn 1.8s ease forwards;
    animation-delay: 0.3s; */
    }

    .man {
    display: flex;
    height: 100vh;
    transition: transform 0.6s ease;
    width: 100vw;

    }

    .hoshi {
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .hoshi img {
    width: 40%;
    max-height: 70vh;
    object-fit: cover;
    border-radius: 1rem;
    height: auto;
    }

    .hoshiage {
    margin-top: 1.5rem;
    /* opacity: 0.7; */
    letter-spacing: 0.05em;
    font-size: 1.8rem;
    font-family: cursive;
    }
    /* 開閉ボタン */
.button-menu{
    position: fixed; /*位置を固定*/
    right: 1rem; 
    top: 1rem;
    z-index: 4; /*重なり位置*/
    padding: 0.5rem 1rem; /*内側余白*/
    border: 1px solid rgb(1, 107, 7) ; /*枠線　実践　茶色 */
    border-radius: 50%; /*角を丸める*/
    height: 4rem;
    width: 4rem;
    background-color: antiquewhite;

    
}

/*開くボタン*/
#menu-open span{
    width: 100%; /*横*/
    height: 2px; /*高さ*/
    background-color: black; /*背景色*/
    position: relative; /*位置を相対化*/
    display: block;
}

#menu-open span:nth-child(1){
top: 0;
}
#menu-open span:nth-child(2){
margin:  8px 0; /*外側余白*/
}
#menu-open span:nth-child(3){
    top: 0;
}
#menu-close{
    border: 1px solid rgb(0, 0, 0);
}

/*閉じるボタン*/
#menu-close span{
    width: 100%; /*横*/
    height: 2px; /*高さ*/
    background-color: rgb(0, 0, 0); /*背景色*/
    position: relative; /*位置を相対化*/
    display: block;
}

#menu-close span:nth-child(1){
translate: 0 4px;
transform: rotate(-315deg);
}
#menu-close span:nth-child(2){
    opacity: 0;
}
#menu-close span:nth-child(3){
transform: rotate(-45deg);
}
/* スライドメニューパネル */
#menu-panel{
  position: fixed; /* 位置固定 */
  top: 0;     /* 上 */
  right: 0;   /* 右 */
  z-index: 10;   /* 重なり位置 */
  padding: 8rem 2rem 2rem;    /* 内側余白 */
  width: 20vw;    /* 横幅 */
  height: 100vh;    /*縦幅  */
    background-color: gray;
    font-family: var(--oswald-font);
    translate: 100%;
    }

    .menu-list{
    list-style: none;
    }

    .menu-list li{
    margin: 1.5rem 0;
    opacity: 0;
    font-family: fantasy;
    }
    .menu-list a{
    font-size: 2rem;
    text-decoration: none;
    color: var(--light-grey);
}

@media (max-width: 768px) {
    body {
        align-items: flex-start;
        /* padding-top: 13vh; */
    }

    .quiz-container {
        width: calc(100% - 24px);
        padding: 20px;
                overflow: hidden;
        touch-action: none;
    }

    #question-text {
        font-size: 1.1rem;
    }

    #menu-panel{
        width: 100vw;
        opacity: 1;
    }
    .hoshi img {
        width: 85%;
    }

    .hoshiage {
        font-size: 1.4rem;
    }

    .hoshitext {
        font-size: 0.95rem;
        text-align: center;
        padding: 0 1rem;
    }
    .man {
        display: flex;
        width: 100vw;
        /* height: 100vh; */
        /* overflow: hidden; ★超重要 */
    }


}

